@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-pretendard-light), Arial, Helvetica, sans-serif;
}

@layer base {
    @font-face {
        font-family: "PretendardRegular";
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/Pretendard-Regular.wotf) format("wotf");
    }
    @font-face {
        font-family: "PretendardSemibold";
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/Pretendard-Semibold.wotf) format("wotf");
    }
    /* @font-face {
        font-family: "SF Mono";
        font-style: normal;
        font-weight: 100;
        src: url(/fonts/SFMonoLight.otf) format("otf");
    } */
}
